<h1>What does your Coach have to say to that?</h1>
<div class="border-left quote-box">
  <p><strong><%= @question %></strong></p>
  <p><i>--You</i></p>
</div>
<div class="border-left quote-box background-yellow">
  <p><strong><%= @answer %></strong></p>
  <p><i>--Coach</i></p>
</div>
<p class="link">
<%= link_to 'Ask another question', '/ask'%>
</p>

