<h1>What does your Coach have to say to that?</h1>
<div class="your-question">
  <p><%= @question %></p>
  <p><strong>-You-</strong></p>
</div>
<div class="coach-answer">
  <p><%= @answer %></p>
  <p><strong>-Coach-</strong></p>
</div>
